openapi: 3.1.0
info:
  title: Ghostable API v1
  version: 1.0.0
servers:
  - url: https://ghostable.dev/api/v1 
  - url: https://staging.ghostable.dev/api/v1
  - url: /api/v1 
paths:
  /cli/login:
    post:
      summary: Login via CLI
      responses: {}
  /team-roles:
    get:
      summary: Get team roles
      responses: {}
  /teams:
    get:
      summary: List teams
      responses: {}
  /owned-teams:
    get:
      summary: List owned teams
      responses: {}
  /teams/{team}:
    get:
      summary: Get team
      responses: {}
  /teams/{team}/invite:
    post:
      summary: Invite team member
      responses: {}
  /teams/{team}/projects:
    get:
      summary: List team projects
      responses: {}
    post:
      summary: Create project
      responses: {}
  /projects/{project}:
    get:
      summary: Get project
      responses: {}
  /projects/{project}/environments:
    get:
      summary: Get project environments
      responses: {}
    post:
      summary: Create environment
      responses: {}
  /projects/{project}/generate-suggested-environment-names:
    post:
      summary: Generate suggested environment names
      responses: {}
  /ci/deploy:
    get:
      summary: Deploy environment
      responses: {}
  /environment-types:
    get:
      summary: Get environment types
      responses: {}
  /environment-formats:
    get:
      summary: Get environment formats
      responses: {}
  /secret-types:
    get:
      summary: Get secret types
      responses: {}
  /projects/{project}/environments/{name}:
    get:
      summary: Get environment
      responses: {}
  /projects/{project}/environments/{name}/push:
    post:
      summary: Push environment
      responses: {}
  /projects/{project}/environments/{name}/diff:
    post:
      summary: Diff environment
      responses: {}
  /projects/{project}/environments/{name}/pull:
    get:
      summary: Pull environment
      responses: {}
  /projects/{project}/environments/{name}/validate:
    post:
      summary: Validate environment
      responses: {}
  /projects/{project}/environments/{name}/secrets:
    get:
      summary: Get environment secrets
      responses: {}
    post:
      summary: Create environment secret
      responses: {}
  /projects/{project}/environments/{name}/secrets/{secret}:
    put:
      summary: Update environment secret
      responses: {}
# TODO: generate complete spec
