openapi: 3.1.0
info:
  title: Ghostable API v2
  version: 2.0.0
servers:
  - url: https://ghostable.dev/api/v2 
  - url: https://staging.ghostable.dev/api/v2
  - url: /api/v2 
paths:
  /cli/login:
    post:
      summary: Login via CLI
      responses: {}
  /organization-roles:
    get:
      summary: Get organization roles
      responses: {}
  /organizations:
    get:
      summary: List organizations
      responses: {}
  /owned-organizations:
    get:
      summary: List owned organizations
      responses: {}
  /organizations/{organization}:
    get:
      summary: Get organization
      responses: {}
  /organizations/{organization}/invite:
    post:
      summary: Invite organization member
      responses: {}
  /organizations/{organization}/projects:
    get:
      summary: List organization projects
      responses: {}
    post:
      summary: Create project
      responses: {}
  /projects/{project}:
    get:
      summary: Get project
      responses: {}
  /projects/{project}/environments:
    get:
      summary: Get project environments
      responses: {}
    post:
      summary: Create environment
      responses: {}
  /projects/{project}/generate-suggested-environment-names:
    post:
      summary: Generate suggested environment names
      responses: {}
  /ci/deploy:
    get:
      summary: Deploy environment
      responses: {}
  /environment-types:
    get:
      summary: Get environment types
      responses: {}
  /environment-formats:
    get:
      summary: Get environment formats
      responses: {}
  /secret-types:
    get:
      summary: Get secret types
      responses: {}
  /projects/{project}/environments/{name}:
    get:
      summary: Get environment
      responses: {}
  /projects/{project}/environments/{name}/push:
    post:
      summary: Push environment
      responses: {}
  /projects/{project}/environments/{name}/diff:
    post:
      summary: Diff environment
      responses: {}
  /projects/{project}/environments/{name}/pull:
    get:
      summary: Pull environment
      responses: {}
  /projects/{project}/environments/{name}/fetch:
    get:
      summary: Fetch environment
      responses: {}
  /projects/{project}/environments/{name}/validate:
    post:
      summary: Validate environment
      responses: {}
  /projects/{project}/environments/{name}/secrets:
    get:
      summary: Get environment secrets
      responses: {}
    post:
      summary: Create environment secret
      responses: {}
  /projects/{project}/environments/{name}/secrets/{secret}:
    get:
      summary: Get environment secret
      responses: {}
    put:
      summary: Update environment secret
      responses: {}
# TODO: generate complete spec
